body {
    background-color: #020204;
    color: #22b455;
}

a, h1, h2, h3, h4, h5, h6, td {
    text-decoration: none;
    color: #92e5a1 !important;
}

.nav-link {
    text-decoration: none;
    color: #22b455;
}

.navbar-brand {
    color: #fff !important;
}

.active {
    text-decoration: none;
    color: #22b455 !important;
}



p, button, form, .form-control, th {
    color: #22b455 !important;
    border-color: #22b455 !important;
}

.btn {
    background-color: transparent;
}

.btn:hover {
    color: #92e5a1 !important;
    background-color: #020204 ;

}

.btn-danger {
    margin-top: 1em;
    margin-bottom: 1em;
    color: crimson !important;
    border-color: crimson !important;
}

.btn-danger:hover {
    color: white !important;
    border-color: white !important;
    background-color: crimson; !important;
}

::placeholder {
    color: #22b455 !important;
}

.img-thumbnail, .table, table, .table>:not(caption)>*>* {
    background-color: transparent;
    border-color: #22b455;
}
#article-header {
    padding: 1em;
    max-height: 25vh;
    width: fit-content;
}
#post-card {
    /*width: fit-content;*/
    margin-bottom: 1em;
}